body {
    /*font-family: 'Sarabun', sans-serif;*/
    font-family: 'Itim', cursive;
}

.headercs { /*ภาพส่วนหัว*/
    font-family: 'Sarabun', sans-serif;
    background-image: url(/public/images/NEW.jpg);
    font-size: 50px;
    width: 1380px;
    height:200px;   
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav { /*สีพื้นหลังปุ่ม รวมตรงกลาง*/
    float: left;
    width: 1320px;
    height: 430px; 
    background-image:url(/public/images/BG.jpg);
    padding: 30px;
}

  .btn-group .button { /*ปุ่มกดซ้าย*/
    background-color: rgb(196, 243, 67); 
    font-family: 'Itim', cursive;
    /*border: 1.5px solid rgb(0, 0, 0);*/
    color: rgb(8, 4, 4);
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 190px;
    display: block;
}
  
.footer{
    background-color: #777;
    padding: 50px;
    width: 1380px;
    height: 200px;
    color: white;
  }
.content {
    color: rgb(169, 255, 56);
}